{% extends 'base.html' %}

{% block title %}
  Edit Users
{% endblock %}
{% block content %}
  <form method="POST">
    <div class="form-group">
      <label style="width: 80px;">Username</label>
      <input type="text" name="username" value="{{ user.username }}" required />
    </div>
    <div class="form-group">
      <label style="width: 80px;">Email</label>
      <input type="email" name="email" value="{{ user.email }}" required />
    </div>
    <div class="form-group">
      <label style="width: 80px;">Phone</label>
      <input type="text" name="phone" value="{{ user.phone }}" required />
    </div>
    <div class="form-group">
      <label style="width: 80px;">Address</label>
      <textarea name="address">{{ user.address }}</textarea>
    </div>
    <button type="submit">Save</button>
  </form>
{% endblock %}
